.hero{
	font-family: 'Lato', sans-serif;
	text-align: center;
	/*min-height: 800px;*/
	background-size: cover;
/*	padding-bottom: 50px;*/
	color: #949494;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.hero h1{
	line-height: 55px;
	font-size: 72px;
}

.hero h2{
	margin-top: 100px;
	margin-bottom: 50px;
	font-size: 40px;
	line-height: 40px;
}

.landscape{
	background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../img/gallery/blurredintro.jpg") no-repeat center center fixed;
    background-blend-mode: darken;
    background-size: cover;
    min-height:600px;

}


#intro h1, #intro h5{
	text-shadow: rgba(0,0,0,.15) 0px 3px 3px;
	color: white;
}

#intro h5{
	margin-bottom: 20px;
	font-size: 24px;
	;

}

.cta{
	background-color: #949494;
	color: white;
	padding: 0;
	width: 180px;
	font-size: 18px;
	line-height: 50px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.cta:hover{
	background-color: #00CFFF;
}

#about, #projects{
	min-height: 0;
}

#about, #projects .left-col{
	color: #949494;
	padding: 20px;
	text-align: left;
	font-weight: 700;
}

/*#projects{
	margin-top: -80px;
}
*/

/*.carousel-inner > .item > img {
    margin: 0 auto;
		height: 600px;
}

.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}


.left-col p{
	margin-top: 0;
	margin-bottom: 0;
	font-size: 20px;
}*/


#gallery{
	padding: 0px;
	margin: 0px;

}

#gallery h2{
	margin-bottom: -8px;
}

#gallery .col-md-4{
	overflow: hidden;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 5px;
}

.col-md-4 img{
	height: 100%;
	max-width: 390px;
	max-height: 100px;
	width: 100px; /* or any size you prefer */
  	height: 100px; /* should match the width for a square */
  	object-fit: cover; /* this will make sure your images cover the area without stretching */
/* 	 display: block; /* to remove any inline spacing */*/
}


#contact{
	background-color: #EEFDF9;
	font-family: 'Lato', sans-serif;
	text-align: center;
	min-height: 400px;
	background-size: cover;
	padding-bottom: 50px;
	padding-top: 50px;
	color: #949494;
	margin-top: -30px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#contact p{
	font-size: 24px;
	margin-bottom: 40px;
	max-width: 740px;
}

#social{
	padding: 20px;

}

#social a{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 10px;
	text-decoration: none;
}

#social a:hover{
	opacity: 0.5;
}

#social img{
	height: 20px;
}

#footer{
	height:auto;
	margin-left: 10%;
	margin-right: 10%;
	/*padding-bottom: 150px;*/
	display: flex;
	flex-direction: row;
	align-items: center;
}

#footer a{
	color: #949494;
	font-size: 15px;
	line-height: 40px;
	padding: 0px;
	margin-left: 5px;
	margin-right: 20px;
}

#footer .footer-item{
	flex: 1;
	max-width: 100px;
}

.copyright{
	margin-left: auto;
	color: #949494;
}

@media only screen and (max-width: 480px) {
	#intro{
		min-height: 640px;
	}
	.left-col h2{
		font-size: 42px;
		line-height: 40px;
	}  #footer {
        margin-left: 20px;
        margin-right: 20px;
    }

    #footer h4 {
        margin-right: 20px;
    }
}
@media only screen and (max-width: 992px) {
    .row {
        width: 100%;
    }

    .col-md-4 {
        width: 100%;
    }

    .col-md-4 img {
        width: 25%;
        height: auto;
        max-width: 992px;
        max-height: 900px;

    }
}


}
